[package]
name = "drop"
version = "0.1.0"
authors = [ "Ogier Bouvier <ogier.bouvier@epfl.ch", "Matteo Monti <matteo.monti@epfl.ch>" ]
edition = "2018"

[dependencies]
sodiumoxide = "0.2.2"
serde = { version = "1.0.102", features = [ "derive" ] }
bincode = "1.2.0"
snafu = "~0.6"

[dev-dependencies]
rand = "0.6.5"
criterion = "0.3.0"

