[package]
name = "drop"
version = "0.1.0"
authors = ["Matteo Monti <matteo.monti@epfl.ch>"]
edition = "2018"

[dependencies]
macros = { path = "macros" }
backtrace = "0.3.30"

[dev-dependencies]
rand = "0.6.5"
