on: [push, pull_request]

name: CI

jobs:
  check:
    name: unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [ stable, beta, nightly ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        name: install toolchain
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}

      - uses: Swatinem/rust-cache@v1

      - uses: actions-rs/cargo@v1
        name: cargo check
        with:
          command: check

      - uses: actions-rs/cargo@v1
        name: cargo clippy
        with:
          command: clippy
          args: --all-features --all-targets -- -D warnings

      - uses: actions-rs/cargo@v1
        name: cargo test
        with:
          command: test
  coverage:
    name: coverage
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        name: install toolchain
        with:
          profile: minimal
          toolchain: stable

      - name: cargo deny
        shell: bash
        run: |
          cargo install cargo-deny && cargo deny check

      - uses: actions-rs/cargo@v1
        name: cargo test
        with:
          command: test

      - name: install kcov
        uses: ryankurte/action-apt@v0.2.0
        with:
          packages: "kcov"

      - name: generate kcov report
        shell: bash
        run: |
          for file in target/debug/deps/drop-*; do [ -x "${file}" ] || continue; mkdir -p "target/cov/$(basename $file)"; kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/$(basename $file)" "$file"; done

      - name: upload coverage
        uses: codecov/codecov-action@v1
